PORT=
HOST=
DATABASE_URL=

# Arcjet
ARCJET_KEY=
ARCJET_ENV="development"
ARCJET_MODE=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# onboarding key
# RESEND_API_KEY=
# stathub key
RESEND_API_KEY=
CLIENT_URL=
CLIENT_PASSWORD_RESET_URL=
